{% extends 'base.html' %}

{% block TITLE %}
Edit
{% endblock %}

{% block CONTENT %}
<h1>Edit a user</h1>
<!-- thisisastringtotestheedituserroute -->
<section>
  <form action="/users/{{user.id}}/edit"
        method="POST"
        class="form-horizontal align-middle">
    <div class="col-sm-10">
      <label readonly
            class="form-control-plaintext"
            for="first-name">
        First Name:
      </label>
      <input type="text"
            name="first-name"
            id="first-name"
            value="{{user.first_name}}"
            required>
    </div>
    <div class="col-sm-10">
      <label readonly
            class="form-control-plaintext"
            for="last-name">
        Last Name:
      </label>
      <input type="text"
            name="last-name"
            id="last-name"
            value="{{user.last_name}}" \
            required>
    </div>
    <div class="col-sm-10">
      <label readonly
            class="form-control-plaintext"
            for="image-url">
        Image URL:
      </label>
      <input type="text"
            name="image-url"
            id="image-url"
            value="{{user.image_url}}">
    </div>
    <div id="submit-Btn">
      <input class="btn btn-success mt-3"
              type="submit"
              value="Save">
    </div>
  </form>
  <div id="cancel-Btn">
    <a href="/users/{{user.id}}">
      <button class="btn btn-outline-success mt-3">Cancel</button>
    </a>

  </div>
</section>


{% endblock %}