{% extends 'base.html' %}

{% block TITLE %}
Details
{% endblock %}

{% block CONTENT %}

<img class="img-thumbnail col-2" src="{{ user.image_url }}" alt="users photo">

<h2>{{ user.first_name }} {{ user.last_name }}</h2>

<form>
  <button formaction="/users/{{user.id}}/edit"
          formmethod="GET"
          class="btn btn-primary btn-sm col-1">Edit
  </button>
  <button formaction="/users/{{user.id}}/delete"
         formmethod="POST"
         class="btn btn-danger btn-sm col-1">Delete
      </button>
</form>

{% if user_posts[0] %}
<h3 class="mt-3">Posts</h3>
<ul>
{% for post in user_posts %}
  <li class="list-group-item"><a href="/posts/{{post.id}}" >{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<form>
  <button formaction="/users/{{user.id}}/posts/new"
         formmethod="GET"
         class="btn btn-primary btn col-2 mt-3">Add Post
      </button>
</form>


{% endblock %}