{% extends 'base.html' %}

{% block TITLE %}
Details
{% endblock %}

{% block CONTENT %}

<img class=".img-thumbnail" src="user.img_url" alt="users photo">
<h2>{{ user.first_name }} {{ user.last_name }}</h2>

<!-- create a delete button -->
<a href="/users/{{user.id}}/edit/">
  <button class="btn btn-primary col-2"  
          method="GET">
    Edit
  </button>
</a>

<form action="/users/{{user.id}}/delete" method="POST">
  <input type="submit" class="btn btn-danger col-2" value="Delete">
</form>
{% endblock %}